<!--
Authors  Genna BEN HASSEN, Camille SIHARATH, Grégoire ALIZADEH NOIRET, Simon PENEL and Laurent GUEGUEN
2021-2026
CNRS UCBL LBBE
-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Data visualization</title>
    <script src="d3.js" charset="urf-8"></script>
    <%- include('../partials/head') %>
  </head>
  <body>
    <header style="z-index: 100">
      <%- include('../partials/header') %>
      <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" style="background-color:white; z-index: 100"></nav>
        <div id="toolbar">
          <%- include('../partials/buttons') %>
        </div>
      </nav>
    </header>
    <main>    
      <div style="z-index:0; position: fixed; top: 30;width: 100%; height: 5"> <!-- debut -->
        <div id="navigator-container" style="border:0px solid lightgrey; background-color:white; left:30%; position:relative; overflow-y: hidden; width: 70%;">
          <svg id="svg0"></svg>
        </div>
        <div>
          <div id="bidon" style="z-index:-10; border:0px solid lightgrey; float: left; overflow-y: auto; width: 30%;">
            <svg id="svgbidon"></svg>
          </div>
          <div id="selpos" style="background-color:white; border:0px solid lightgrey; overflow-x: auto; overflow-y: auto;">
            <svg id="svg3"></svg>
          </div>
        </div>
      </div> <!--  fin-->
      <div id="tree-container" style="z-index:+5;position:relative;top:300px;border:0px solid lightgrey; float: left; overflow-y: auto; width: 30%;">
        <svg id="svg1"></svg>
      </div>
      <div id="alignment-container" style="z-index:-10;position:relative;top:300px;border:0px solid lightgrey; overflow-x: auto; overflow-y: auto;">
        <svg id="svg2"></svg>
      </div>
    </main>
  </body>
</html>

<!-- Get variables from Express -->
<script type="text/javascript">
  var recTree = <%- arbre %>;
  var logBranchLength = <%- logBranchLength %>;
</script>

<!-- JS functions -->
<script src="xmltree.js" charset="utf-8"></script>
<script src="layout.js" charset="utf-8"></script>
<script src="links.js" charset="utf-8"></script>
<script src="svgEvents.js" charset="utf-8"></script>
<script src="utils.js" charset="utf-8"></script>
<script src="utilsTree.js" charset="utf-8"></script>
<script src="utilsJSON.js" charset="utf-8"></script>
<script src="utilsSVG.js" charset="utf-8"></script>
<script src="utilsButtons.js" charset="utf-8"></script>
<script src="update.js" charset="utf-8"></script>
<script src="displayTree.js" charset="utf-8"></script>
